<a href="https://colab.research.google.com/github/MIDHUN22/data-science/blob/main/exp4_movies.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import pandas as pd
from scipy import stats

In [ ]:
movies= pd.read_csv("IMDb movies.csv")
print(movies.head(5))

  imdb_title_id  ... reviews_from_critics
0     tt0000009  ...                  2.0
1     tt0000574  ...                  7.0
2     tt0001892  ...                  2.0
3     tt0002101  ...                  3.0
4     tt0002130  ...                 14.0

[5 rows x 22 columns]

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
#describe
print(movies.describe())

NameError: ignored

In [ ]:
#CHECK THE COLUMN NAME
print("column name: %s"%movies.columns.values)

column name: ['imdb_title_id' 'title' 'original_title' 'year' 'date_published' 'genre'
 'duration' 'country' 'language' 'director' 'writer' 'production_company'
 'actors' 'description' 'avg_vote' 'votes' 'budget' 'usa_gross_income'
 'worlwide_gross_income' 'metascore' 'reviews_from_users'
 'reviews_from_critics']

In [ ]:
print(movies.info)

<bound method DataFrame.info of       imdb_title_id  ... reviews_from_critics
0         tt0000009  ...                  2.0
1         tt0000574  ...                  7.0
2         tt0001892  ...                  2.0
3         tt0002101  ...                  3.0
4         tt0002130  ...                 14.0
...             ...  ...                  ...
85850     tt9908390  ...                  4.0
85851     tt9911196  ...                  4.0
85852     tt9911774  ...                  NaN
85853     tt9914286  ...                  NaN
85854     tt9914942  ...                  2.0

[85855 rows x 22 columns]>

In [ ]:
#CHECK NULL DATA
print("NULL VALUES\n")
print(movies.isna())

NULL VALUES

       imdb_title_id  title  ...  reviews_from_users  reviews_from_critics
0              False  False  ...               False                 False
1              False  False  ...               False                 False
2              False  False  ...               False                 False
3              False  False  ...               False                 False
4              False  False  ...               False                 False
...              ...    ...  ...                 ...                   ...
85850          False  False  ...                True                 False
85851          False  False  ...               False                 False
85852          False  False  ...                True                  True
85853          False  False  ...                True                  True
85854          False  False  ...                True                 False

[85855 rows x 22 columns]

In [ ]:
print(movies.isna().sum())

imdb_title_id                0
title                        0
original_title               0
year                         0
date_published               0
genre                        0
duration                     0
country                     64
language                   833
director                    87
writer                    1572
production_company        4455
actors                      69
description               2115
avg_vote                     0
votes                        0
budget                   62145
usa_gross_income         70529
worlwide_gross_income    54839
metascore                72550
reviews_from_users        7597
reviews_from_critics     11797
dtype: int64

In [ ]:
print("null values:%s" %movies.isnull().values.any())

null values:True

In [ ]:
print("total null :%d" %movies.isna().sum().sum())

total null :288652

In [ ]:
#data type
print(movies.dtypes)

imdb_title_id             object
title                     object
original_title            object
year                      object
date_published            object
genre                     object
duration                   int64
country                   object
language                  object
director                  object
writer                    object
production_company        object
actors                    object
description               object
avg_vote                 float64
votes                      int64
budget                    object
usa_gross_income          object
worlwide_gross_income     object
metascore                float64
reviews_from_users       float64
reviews_from_critics     float64
dtype: object

In [ ]:
#shape-excluding object datatypes
print ("shape before :", movies.shape)
movies_num = movies.select_dtypes(exclude=['object'])
print ("shape after excluding object columns: ", movies_num.shape)

shape before : (85855, 22)
shape after excluding object columns:  (85855, 6)

In [ ]:
c_movies=movies.dropna(how='any')
print ("new dataframe shape: ", c_movies.shape)
print ("old dataframe shape: ")

new dataframe shape:  (6616, 22)
old dataframe shape:

In [ ]:
duplicated_rows_df_imdb_link= movies [movies_df.duplicated(['movie_imdb_link'])] 
print(duplicate_rows_df_imdb_link.shape)

In [ ]:
print(len(movies.movies.unique()))

AttributeError: ignored

In [ ]:
duplicate_rows_df = movies[movies.duplicated()]
print("number of duplicate rows: ", duplicate_rows_df.shape)

number of duplicate rows:  (0, 22)

In [ ]:
print(pd.movies.votes.plot.density)

NameError: ignored