<a href="https://colab.research.google.com/github/MIDHUN22/data-science/blob/main/Experiment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print ("Prnt the data type using tpe() ")
a = 1
print(type(a))

b=1.5
print(type(b))

c = 1 + 3j
print(type(c))

d= "qwerty"
print(type(d))

e = ['q,w,e,r,t,y']
print(type(e))

f = ("this","is")
print(type(f))

print(type(True))

g={1:"hello",2:"world"}
print(type(g))

Prnt the data type using tpe()
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'bool'>
<class 'dict'>

this is first ^

list

In [ ]:
list = ["Hello","World","Python"]
print("list is",list)
print (list[0:2])
print(list[-2])

list is ['Hello', 'World', 'Python']
['Hello', 'World']
World

DICTIONARY

In [ ]:
d={1:'HELLO',2:'WORLD',3:'PYTHON'}
print(d)

print("1st name is"+d[1])
print("2nd name is"+d[3])

print(d.keys())
print(d.values())

{1: 'HELLO', 2: 'WORLD', 3: 'PYTHON'}
1st name isHELLO
2nd name isPYTHON
dict_keys([1, 2, 3])
dict_values(['HELLO', 'WORLD', 'PYTHON'])

tuple

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

SET

In [ ]:
thisset = {"apple", "banana", "cherry"}

print(thisset)
thisset.add("orange")
print(thisset)

{'apple', 'banana', 'cherry'}
{'orange', 'apple', 'banana', 'cherry'}

function

In [1]:
#function
def refact(n):  
   if n == 1:  
       return n  
   else:  
       return n*refact(n-1)  

num = int(7)  

if num < 0:  
   print("Sorry, factorial does not exist for negative numbers")  
elif num == 0:  
   print("The factorial of 0 is 1")  
else:  
   print("The factorial of",num,"is",refact(num))

The factorial of 7 is 5040